.popup__input-profile-about {




    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 12px;

}

@media screen and (max-width: 525px) {
    .popup__input-profile-about {
        width: 238px;
        margin-bottom: 45px;
    }
}
