.popup__input-profile-about {
    height: 27px;
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 12px;
    box-sizing: border-box;
}

@media screen and (max-width: 360px) {
    .popup__input-profile-about {
        width: 238px;
        margin-bottom: 45px;
    }
}
