.footer {
    margin: 0; /* первой строчкой сбрасываем заводские настройки отступов текста. Следующие margin уже будут отталкиваться от этого правила */
    max-width: 880px;
    margin: 66px auto 60px;
}

@media screen and (max-width: 914px){
    .footer {
        width: 581px;
    }
}

@media screen and (max-width: 614px){
    .footer {
        width: 282px;
    }
}

@media screen and (max-width: 360px){
    .footer {
        max-width: 282px;
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
    }
}